<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.samandar_demo">

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_15"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_15"
        android:supportsRtl="true"
        android:theme="@style/Theme.Samandar_Demo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Tovushlar.ImagetoVoice"
            android:exported="false" />
        <activity android:name=".Mouth_Demo.Artikulatsiya1"/>
<!--        <activity android:name=".Mouth_Demo.VideoActivity1"/>-->

        <activity android:name="com.example.liveness.LivenessActivity"/>
        <activity android:name=".core.MainActivity22"/>
        <activity
            android:name=".FindDifference"
            android:exported="false" />
        <activity
            android:name=".Tovushlar.TovushVideoActivity"
            android:exported="false" />
        <activity
            android:name=".VideoLesson.Lessons"
            android:exported="false" />
        <activity
            android:name=".VideoLesson.VideoLessonActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.VideoFrame"
            android:exported="false" />
        <activity
            android:name=".Activities.ActivityOpenCv"
            android:exported="false" />
        <activity
            android:name=".Activities.HarakatVideoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StartRegister"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.TanaHarakatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Succes"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.Picovoice"
            android:exported="false" />
        <activity
            android:name=".Puzzle_Games.OptionActivity"
            android:exported="false" />
        <activity
            android:name=".Puzzle_Games.PuzzleActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.Register"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Activities.MimikaActivity"
            android:exported="false" />
        <activity
            android:name=".Barmoqlar.BarmoqActvity"
            android:exported="false" />
        <activity
            android:name=".Tovushlar.TovushActivity"
            android:exported="false" />
        <activity
            android:name=".Articulation.Artikulatsiya"
            android:exported="true" />
        <activity
            android:name=".Articulation.VideoActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PinWheel"
            android:exported="false" />
        <activity
            android:name=".Activities.Candle"
            android:exported="false"

         />
        <activity
            android:name=".Activities.LanguageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBkBDoE9mtMuI4xw3L1GNt5-7eHzr2C6Og" />
    </application>

</manifest>